nav.menu {
    float: left;
    width: 100%;
    height: 60px;
    background-color: #fccc4c;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

nav.menu ul {
    float: left;
    width: 100%;
    height: 60px;
    list-style: none;
}

nav.menu ul li {
    float: left;
    padding: 20px 20px;
    text-transform: uppercase;
}

nav.menu ul li .link {
    float: left;
    width: 100%;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo .icon-logo {
    width: 100%;
    font-size: 100px;
    color: #fccc4c;
    text-decoration: none;
}

.logo span {
    font-family: Rubik;
    font-size: 45px;
    color: 000;
    font-weight: 600;
    clear: both;
}